<a class="card_link" href="/event/<%=card.id%>">
    <div class="mycardUser m-auto">
        <div class="box_imgUser">
            <img class="img-fluid" src="/<%=card.image%>" alt="">
        </div>
        <div class="text-center" >
            <b><%= card.title %> </b>
        </div>
        <div>
            <span class="mr-2">&#128337;</span> <%= card.time %>
        </div>
        <div>
           <span class="mr-2">&#128197;</span> <%= card.date %>
        </div>
        <div>
            <%= card.address %>
        </div>
    </div>    
</a>